body{
    font-family: "Merriweather", serif;
}
.header{
     background-image:linear-gradient(to top,rgba(3, 3, 27, 0.5), rgba(20, 20, 71, 0.5)), url("../resources/Banner\ Image.png"); 
    background-repeat: no-repeat;
    background-size: 100%;
     color: white; 
    text-align: center;
    padding: 18% 0px 15% 0px;
}
header h1{
    font-size: 50px;
}