body{
    font-family: "Merriweather", serif;
}
.header{
     background-image:linear-gradient(to top,rgba(3, 3, 27, 0.5), rgba(20, 20, 71, 0.815)), url("../resources/Banner\ Image.png"); 
    background-repeat: no-repeat;
    background-size: 100%;
     color: white; 
    text-align: center;
    padding: 18% 0px 15% 0px;
}
header h1{
    font-size: 50px;
}

.new-year-pic{
    margin: 100px 0px;
    text-align: center;
}
.red{
    color: red;
}
main h1{
    font-size: 38px;
}

.party{
    margin: 5px 180px 50px 180px;
    background-image:linear-gradient(to top,rgba(3, 3, 27, 0.5), rgba(0, 0, 0, 0.973)),url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    height: 680px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.party-img{
    height: 500px;
}
.join-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8px 13px;
    border: none;
    border-radius: 2px;
}
.address{
    margin: 5px 180px 50px 180px;
background-color: rgb(250, 233, 236);
text-align: center;
padding: 70px 0px ;
border-radius: 5px;
}
.text-color{
    color: #707070;
}
.address-btn{
    background-color: red;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 15px;
}
.sale{
    display: flex;
    margin: 5px 180px 50px 180px;
    justify-content: space-between;
    align-items: center;
}
.sale-2{
    border: 14px solid red;
    padding: 25px;
    border-radius: 50%;
}
.holiday{
    text-align: center;
    margin: 5px 180px 30px 180px;
}
.holiday h1{
    margin: 0px;
}
.holiday p{
    margin: 5px;
}
.holiday-pic{
    margin: 5px 180px 50px 180px;
    display: flex;
    align-items: center;
    background-image: url("../resources/Rectangle\ 2.png"),url("../resources/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%,34%;
    background-position: bottom, top right;
    padding-bottom: 100px;
}
.gift{    
    margin: 5px 180px 50px 180px;
}
.gift p{
    margin: 0px;
}
.gift h1{
    margin: 0px;
}
.gift-pic{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.subscribe{    
    margin: 5px 180px 50px 180px;
    text-align: center;
    background-color:rgb(250, 233, 236) ;
    padding: 60px;
border-radius: 10px;
}

.subscribe-input{
    border: none;
    padding: 12px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 19%;
    margin-right: 0px;
}
.subscribe-btn{
    border: none;
    padding: 12px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 9%;
    margin-left: 0px;
    background-color: red;
    color: white;
    font-weight: 700;
}

.footer{
    background-color: black;
    color: white;
}
.footer-size{
    margin: 0px 210px;
    padding-top: 100px;


}
.contact{
    display: flex;
}
.contact p{
    margin: 0px 5px;
}
.footer-up{
    display: flex;
    justify-content: space-between;
}
.icon{
    text-align: center;
    margin:0px 210px;
}
.icon img{
    margin-left: 20px;
}
.footer-down{
    display: flex;
    justify-content: space-between;
    margin:0px 210px;
    padding-bottom: 100px;
}